* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid #000;
}

.score,
.time {
  margin-bottom: 1.5rem;
}

.mole {
  background-image: url('./mole.png');
  background-size: cover;
}

.start-game {
  color: #fff;
  background-color: #684507;
  padding: 1rem 4rem;
  border-radius: 4rem;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.start-game:hover {
  color: #684507;
  background-color: #fff;
  border: 1px solid #684507;
}
